<launch>
  <node pkg="comm" type="comm" name="comm" output="screen">
  </node>

  <node pkg="setup_lidar" type="pointcloud_publisher" name="lidar_pub" output="screen">
  </node>

  <node pkg="odo" type="odo" name="odometry" output="screen">
  </node>

  <node pkg="setup_lidar" type="tf_broadcaster" name="tf_broadcaster" output="screen">
  </node>
</launch>
